<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editace</h4>
                <button type="button" class="close"
                        @onclick="@Cancel">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p style="margin-bottom:0.3rem;">Text:</p>
                </div>
                <div>
                    <textarea type="text" @bind="text" class="width100p heightTextArea" ></textarea>
                </div>
                <div>
                    <p style="margin-bottom:0.3rem;margin-top:1.2rem">Pořadí:</p>
                </div>
                <div>
                    <input type="number" @bind-value="rank" class="width100p" min="1" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        @onclick=@Ok>
                    Uložit
                </button>
                <button type="button" class="btn btn-warning"
                        @onclick="@Cancel">
                    Zrušit
                </button>

            </div>
        </div>
    </div>
</div>
@code {
    [Parameter] public EventCallback<DataRow> OnClose { get; set; }
    [Parameter] public DataRow RowToEdit { get; set; }

    private string text;
    private int rank;

    protected override async Task OnInitializedAsync()
    {
        text = RowToEdit["Text"].ToString();
        rank = (int)RowToEdit["Rank"];
    }

    private Task Cancel()
    {
        text = "";
        rank = 1;
        return OnClose.InvokeAsync(null);
    }
    private Task Ok()
    {
        RowToEdit["Text"] = text;
        RowToEdit["Rank"] = rank;

        text = "";
        rank = 1;

        return OnClose.InvokeAsync(RowToEdit);
    }

}
